.sidebar {
    // position on screen
    position: absolute;
    top: 0;
    left: 0;
    width: 25vw;
    height: 100vh;
    overflow-y: scroll;

    background-color: var(--background-color-secondary);
    
    color: var(--text-color-secondary);
    font-family: "arial", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2vh;

    display: flex;
    flex-direction: column;
    border-right: 2px solid var(--background-color-accent);

    img {
        width: 100%;
        height: 20vh;
        object-fit: contain;
    }
  
    .group-title {
        font-size: 1.1em;
        color: var(--text-color-triary);
        margin: 20px 0 10px;
        padding-left: 1vw;
        
        font-family: "Quicksand", sans-serif;
        font-weight: 900;
        font-style: normal;
        text-transform: uppercase;
        cursor: default;
    }
  
    .nav-link {
        color: var(--text-color-secondary);
        padding: 1vh 2vw;
        text-decoration: none;
        font-size: 1em;
        display: flex;
        align-items: center;
        width: 100%;
    }
  
    // hovered link
    .nav-link:hover {
        background-color: var(--accent-secondary);
    }

    // active link
    .nav-link.active {
        background-color: var(--accent-primary);
    }
    
    // subpages
    .subpage.nav-link {
        padding-left: 4vw;
    }
}
