---
---
body {
    
}



header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh 0;
    gap: 3vh;

    img {
        height: 20vh;
        width: auto;
    }
    h4 {color: #1f3969}
}

#doc-cards {
    width: 100vw;
    margin-top: 5vh;
    margin-bottom: 15vh;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, auto);
    grid-template-areas:
        "🍎 🍎 🍎"
        ".  P  P "
        ".  🐱 🐱"
        "W  .  . "
        "📄 🐍 🐍"
        ".  G  A "
        ".  🤖 🍵";

    gap: 1vw;
    justify-items: center;
    align-items: center;
    
    .doc-card {
        width: 10vw;
        //min-width: 10vw;
        //max-width: fit-content;
        height: 10vw;
        transition: all 0.2s ease-in-out;
        border-radius: 1vw;
        box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.3);
        overflow: hidden;
    
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    .doc-card:hover {
        width: 10.3vw;
        height: 10.3vw;
        
    }
    h4 {
        letter-spacing: 0.5vw;
        margin-top: 3vh;
    }

    #card-mac {grid-area: 🍎}
    #p-subhead {grid-area: P}
    #card-scratch {grid-area: 🐱}
    #w-subhead {grid-area: W}
    #card-html {grid-area: 📄}
    #card-python {grid-area: 🐍}
    #g-subhead {grid-area: G}
    #card-godot {grid-area: 🤖}
    #a-subhead {grid-area: A}
    #card-java {grid-area: 🍵}
}