---
---
//@import "main";
@import "fonts";
@import "navbar";
@import "article";

// normal variables:
:root {
    --background-color: #eaecef;
    --text-color: black;
}

//
// Darkmode:
//
@media (prefers-color-scheme: dark) {
    // darkmode variables:
    :root {
        --background-color: black;
        --text-color: white;
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    background-color: var(--background-color);
    color: var(--text-color);
}